<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/productos"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Producto</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="anadirProducto()" [disabled]="!formAnadirProducto.valid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formAnadirProducto">
    <ion-grid>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Código</ion-label>
            <ion-input
              type="number"
              autocomplete
              autocorrect
              formControlName="pcodigo"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input
              type="string"
              autocomplete
              autocorrect
              formControlName="pnombre"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Cantidad</ion-label>
            <ion-input
              type="number"
              autocomplete
              autocorrect
              formControlName="pcantidad"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input
              type="number"
              autocomplete
              autocorrect
              formControlName="pprecio"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea
              autocomplete
              autocorrect
              formControlName="pdescripcion"
            >
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
     

      <ion-row
        *ngIf="!formAnadirProducto.get('pdescripcion').valid &&
        formAnadirProducto.touched"
      >
        <ion-col size-sm="6" offset-sm="3">
          <p>La descripcion debe de ser mayor a 20 caracteres</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
