<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/productos"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ producto.nombre}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="borrarProducto(producto.codigo)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="actualizar(producto.codigo)">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
  <ion-card>
  <ion-item>
    <ion-card-content>
      <ion-card-subtitle>Código: </ion-card-subtitle>
      <ion-card-content>{{producto.codigo}}</ion-card-content>
      <ion-card-subtitle>Nombre: </ion-card-subtitle>
      <ion-card-content>{{producto.nombre}}</ion-card-content>
      <ion-card-subtitle>Cantidad: </ion-card-subtitle>
      <ion-card-content>{{producto.cantidad}}</ion-card-content>
      <ion-card-subtitle>Precio: </ion-card-subtitle>
      <ion-card-content>{{producto.precio}}</ion-card-content>
      <ion-card-subtitle>Descripcion: </ion-card-subtitle>
      <ion-card-content>{{producto.descripcion}}</ion-card-content>
</ion-card-content>
</ion-item>
</ion-card>
</div>
</ion-content>

