<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-button [routerLink]="['/productos/agregar' ]">
        <ion-icon name="add"></ion-icon></ion-button>
        
    </ion-buttons>
    <ion-title>
      <h1 id="h1">Productos</h1>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-card *ngFor="let productos of producto">
      <ion-item>
        <ion-button slot="end" color="dark" (click)="detalles(productos.codigo)">Ver</ion-button>
        <ion-card-header>
          <ion-card-subtitle>{{productos.nombre}}</ion-card-subtitle>
          <ion-card-content>{{productos.descripcion}}</ion-card-content>
        </ion-card-header>
      </ion-item>
    </ion-card>
  </div>
</ion-content>