#container {
    text-align: left;
    background-color: black;
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }