<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Wendolyn Campos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button  [routerLink]="['/productos' ]" color="dark">Productos</ion-button>
  </div>
</ion-content>
